# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
coverage
flake8
pytest
yapf

# API
google-cloud-storage

# utilities
six
joblib

# environment
python-dotenv

# Google-APIs
google-api-python-client
google-cloud
google-cloud-vision
google-images-search
google-cloud-translate

#streamlit
streamlit
fastapi
