pip>=9
setuptools>=26
twine
wheel>=0.29

numpy
pandas
#scikit-learn

coverage
flake8
pytest
yapf
s3fs
six

#joblib
python-dotenv
google-api-python-client
#google-cloud
google-cloud-vision
google-cloud-storage
google-images-search
google-cloud-translate
#google-cloud-translate==2.0.1

streamlit
fastapi
uvicorn
oauth2client
