/* .container {
  width: 375px;
height: 812px;
} */

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  /* box-shadow: 0 0 15px rgba(178, 178, 178, 0.394); */
  display: flex;
  align-items: center;
  border-radius: 30px;
  /* margin: 30px 50px; */
  padding: 3%;
  /* margin-left: 5%;
  margin-right: 5%; */
  margin: 2% 5%;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(167, 167, 167, 0.464);
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  filter: drop-shadow(0px 5px 10px rgba(221, 215, 188, 0.9));
  border-radius: 40px;
  /* margin: 10%; */
  margin-right: 3%
}

.card-product h2 {
  font-size: 2rem;
  font-weight: bold;
  /* margin-left: 0; */
  margin: 0;
  font-family: "Roboto", "Helvetica Neue";
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product p {
  font-size: 1.5rem;
  /* line-height: 1.4; */
  /* margin-top: 5%; */
  /* opacity: .7; */
  /* margin-bottom: 0; */
  /* margin-top: 8px; */
  font-family: "Raleway", "Helvetica Neue";
  color: #8C8A9D;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-product .card-product-infos {
  padding-left: 16px;
}
